#contenedor-principal {
  color: bisque;
  padding: 5px;
  font-size: 15px;
  background-color: rgb(11, 7, 22);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rectangulo {
  padding: 5px;
  margin: 5px;
}

/* ----- Son pixeles, UNIDAD ABSOLUTA */
.px {
  background-color: rgb(9, 91, 40);
  width: 200px;    
}
/* ------- Es el porcentaje de la ventana del navegador, es decir, 20% en este ejemplo */
.vw {
  background-color: rgb(47, 89, 195);
  width: 20vw;    
}
/* ------ Es la proporción del tamaño de la letra del elemento padre  . . .  */
.em {
  background-color: rgb(164, 37, 15);
  width: 5em;
}


body {
  background-color: lightcyan;
}

